<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserBillingServlet</servlet-name>
        <servlet-class>com.servlet.UserBillingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>telegramLoginServlet</servlet-name>
        <servlet-class>com.servlet.telegramLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBillingServlet</servlet-name>
        <url-pattern>/UserBillingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>telegramLoginServlet</servlet-name>
        <url-pattern>/telegramLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1440
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
